{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% set active_page = "explore" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/ClimaCloset.svg" type="image/svg+xml" />

    <title>Check the fits LOL</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Explore</h1>
            <hr class="divider" />
        </header>

        <div class="content">
            <p>In need of outfit inspiration? Check out these fits!</p>
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Felis consectetur vel non nostra egestas vel
                nascetur integer. Nec ullamcorper donec elit faucibus lectus. Ut natoque nullam convallis nibh mauris.
                Pretium euismod habitasse aenean ullamcorper gravida. Class semper potenti penatibus convallis;
                tincidunt blandit condimentum. Curabitur fermentum nec consectetur tellus enim vehicula. Imperdiet
                lobortis parturient consectetur tempor tempus integer.
                <br>
                Lectus volutpat integer habitasse risus efficitur. At etiam pretium lectus nullam faucibus fames.
                Egestas a ad condimentum, inceptos a ultricies vestibulum metus suspendisse. Efficitur bibendum torquent
                hac dictum velit pharetra. Nascetur libero condimentum risus, nec quisque nostra. Ac mus posuere conubia
                magna; efficitur integer ultricies. Netus lobortis aenean lectus integer himenaeos quam placerat.
                <br>
                Ante vestibulum curabitur torquent porta, pharetra purus viverra. Nulla a potenti ultrices turpis
                bibendum. Litora blandit mauris nascetur quisque justo penatibus. Commodo nascetur habitasse sapien
                senectus sociosqu suspendisse nisi. Imperdiet fringilla dolor etiam conubia lacinia eleifend maecenas.
                Himenaeos viverra torquent fringilla mauris fusce ultrices fames. Penatibus mus hendrerit nibh placerat
                vivamus odio. Cubilia cras vestibulum risus maximus netus morbi.
                <br>
                Inceptos non ornare elementum, dictumst cursus pretium. Cubilia scelerisque massa enim consectetur urna
                tempor ultricies ridiculus. Accumsan venenatis adipiscing nostra per nisl tincidunt. Aptent semper
                maecenas faucibus primis cursus aliquam. Sodales potenti porta pharetra lacinia augue. Senectus sociosqu
                pellentesque ultricies convallis non ac magna dapibus. Class accumsan lobortis auctor suscipit arcu nam.
                <br>
                Vehicula ipsum hac primis sapien magnis. Metus leo nibh fringilla penatibus maximus pellentesque tellus
                dictum consequat. Neque etiam proin ullamcorper rutrum; odio consequat tristique habitant. Dignissim
                suspendisse tincidunt congue, ligula porta netus. Iaculis inceptos penatibus iaculis enim sodales eget
                vestibulum rhoncus. Lacinia rhoncus purus aliquam odio odio penatibus. Interdum vehicula aliquam
                eleifend faucibus convallis ultricies molestie non odio. Semper vel rutrum tellus fames eleifend
                vulputate pharetra? Eros dis imperdiet vehicula non dui ac habitasse.
                <br>
                Lectus volutpat integer habitasse risus efficitur. At etiam pretium lectus nullam faucibus fames.
                Egestas a ad condimentum, inceptos a ultricies vestibulum metus suspendisse. Efficitur bibendum torquent
                hac dictum velit pharetra. Nascetur libero condimentum risus, nec quisque nostra. Ac mus posuere conubia
                magna; efficitur integer ultricies. Netus lobortis aenean lectus integer himenaeos quam placerat.
                <br>
                Ante vestibulum curabitur torquent porta, pharetra purus viverra. Nulla a potenti ultrices turpis
                bibendum. Litora blandit mauris nascetur quisque justo penatibus. Commodo nascetur habitasse sapien
                senectus sociosqu suspendisse nisi. Imperdiet fringilla dolor etiam conubia lacinia eleifend maecenas.
                Himenaeos viverra torquent fringilla mauris fusce ultrices fames. Penatibus mus hendrerit nibh placerat
                vivamus odio. Cubilia cras vestibulum risus maximus netus morbi.
                <br>
                Inceptos non ornare elementum, dictumst cursus pretium. Cubilia scelerisque massa enim consectetur urna
                tempor ultricies ridiculus. Accumsan venenatis adipiscing nostra per nisl tincidunt. Aptent semper
                maecenas faucibus primis cursus aliquam. Sodales potenti porta pharetra lacinia augue. Senectus sociosqu
                pellentesque ultricies convallis non ac magna dapibus. Class accumsan lobortis auctor suscipit arcu nam.
                <br>
                Vehicula ipsum hac primis sapien magnis. Metus leo nibh fringilla penatibus maximus pellentesque tellus
                dictum consequat. Neque etiam proin ullamcorper rutrum; odio consequat tristique habitant. Dignissim
                suspendisse tincidunt congue, ligula porta netus. Iaculis inceptos penatibus iaculis enim sodales eget
                vestibulum rhoncus. Lacinia rhoncus purus aliquam odio odio penatibus. Interdum vehicula aliquam
                eleifend faucibus convallis ultricies molestie non odio. Semper vel rutrum tellus fames eleifend
                vulputate pharetra? Eros dis imperdiet vehicula non dui ac habitasse.
                <br>
                Lectus volutpat integer habitasse risus efficitur. At etiam pretium lectus nullam faucibus fames.
                Egestas a ad condimentum, inceptos a ultricies vestibulum metus suspendisse. Efficitur bibendum torquent
                hac dictum velit pharetra. Nascetur libero condimentum risus, nec quisque nostra. Ac mus posuere conubia
                magna; efficitur integer ultricies. Netus lobortis aenean lectus integer himenaeos quam placerat.
                <br>
                Ante vestibulum curabitur torquent porta, pharetra purus viverra. Nulla a potenti ultrices turpis
                bibendum. Litora blandit mauris nascetur quisque justo penatibus. Commodo nascetur habitasse sapien
                senectus sociosqu suspendisse nisi. Imperdiet fringilla dolor etiam conubia lacinia eleifend maecenas.
                Himenaeos viverra torquent fringilla mauris fusce ultrices fames. Penatibus mus hendrerit nibh placerat
                vivamus odio. Cubilia cras vestibulum risus maximus netus morbi.
                <br>
                Inceptos non ornare elementum, dictumst cursus pretium. Cubilia scelerisque massa enim consectetur urna
                tempor ultricies ridiculus. Accumsan venenatis adipiscing nostra per nisl tincidunt. Aptent semper
                maecenas faucibus primis cursus aliquam. Sodales potenti porta pharetra lacinia augue. Senectus sociosqu
                pellentesque ultricies convallis non ac magna dapibus. Class accumsan lobortis auctor suscipit arcu nam.
                <br>
                Vehicula ipsum hac primis sapien magnis. Metus leo nibh fringilla penatibus maximus pellentesque tellus
                dictum consequat. Neque etiam proin ullamcorper rutrum; odio consequat tristique habitant. Dignissim
                suspendisse tincidunt congue, ligula porta netus. Iaculis inceptos penatibus iaculis enim sodales eget
                vestibulum rhoncus. Lacinia rhoncus purus aliquam odio odio penatibus. Interdum vehicula aliquam
                eleifend faucibus convallis ultricies molestie non odio. Semper vel rutrum tellus fames eleifend
                vulputate pharetra? Eros dis imperdiet vehicula non dui ac habitasse.
                <br>
                Lectus volutpat integer habitasse risus efficitur. At etiam pretium lectus nullam faucibus fames.
                Egestas a ad condimentum, inceptos a ultricies vestibulum metus suspendisse. Efficitur bibendum torquent
                hac dictum velit pharetra. Nascetur libero condimentum risus, nec quisque nostra. Ac mus posuere conubia
                magna; efficitur integer ultricies. Netus lobortis aenean lectus integer himenaeos quam placerat.
                <br>
                Ante vestibulum curabitur torquent porta, pharetra purus viverra. Nulla a potenti ultrices turpis
                bibendum. Litora blandit mauris nascetur quisque justo penatibus. Commodo nascetur habitasse sapien
                senectus sociosqu suspendisse nisi. Imperdiet fringilla dolor etiam conubia lacinia eleifend maecenas.
                Himenaeos viverra torquent fringilla mauris fusce ultrices fames. Penatibus mus hendrerit nibh placerat
                vivamus odio. Cubilia cras vestibulum risus maximus netus morbi.
                <br>
                Inceptos non ornare elementum, dictumst cursus pretium. Cubilia scelerisque massa enim consectetur urna
                tempor ultricies ridiculus. Accumsan venenatis adipiscing nostra per nisl tincidunt. Aptent semper
                maecenas faucibus primis cursus aliquam. Sodales potenti porta pharetra lacinia augue. Senectus sociosqu
                pellentesque ultricies convallis non ac magna dapibus. Class accumsan lobortis auctor suscipit arcu nam.
                <br>
                Vehicula ipsum hac primis sapien magnis. Metus leo nibh fringilla penatibus maximus pellentesque tellus
                dictum consequat. Neque etiam proin ullamcorper rutrum; odio consequat tristique habitant. Dignissim
                suspendisse tincidunt congue, ligula porta netus. Iaculis inceptos penatibus iaculis enim sodales eget
                vestibulum rhoncus. Lacinia rhoncus purus aliquam odio odio penatibus. Interdum vehicula aliquam
                eleifend faucibus convallis ultricies molestie non odio. Semper vel rutrum tellus fames eleifend
                vulputate pharetra? Eros dis imperdiet vehicula non dui ac habitasse.
            </p>
        </div>
</body>

</html>
{% endblock %}