{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% set active_page = "explore" %}

{% block body %}
<div class="container my-5">
    <header class="mb-4">
        <h1>Explore</h1>
        <hr class="divider" />
    </header>

    <div class="content mb-5">
        <p>In need of outfit inspiration? Check out these fits!</p>
    </div>
</div>

   <!-- {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a> {{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a>{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}  -->

{% endblock %}